*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(242, 243, 243, 0.774);
}
.title {
    padding: 4px;
    text-align: center;
}

.list-item > a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid transparent;
}

.list-item > a:hover {
    border-bottom: 1px solid black;
}

.list-item {
    margin: 10px 20px;
    padding: 10px;
    list-style-type: "-";

}
.list-item:hover {
    list-style-type: "👉";
}

.list {
    padding: 10px;
}